body {
    background-image: url('/images/abstract-textured-backgound.jpg'); 
    background-size: cover;
}
.gradient-box {
  width: 500px;
  height: 200px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  text-align: center;
  line-height: 200px;
  border-radius: 10px;
  margin: 50px auto;

}
.gradient-box:hover {
  transform: scale(1.1) rotate(5deg) translateY(-10px);
  transition: transform 0.5s ease;
}
